.hero{
    background-color: #F2F2F2;
    .hero-items{
display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
    gap: 20px;
    }

    .hero-left{
   background-color: #fff;
   padding: 10px;
    }
    .hero-right{
padding: 20px;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 10px;
h2{
    font-weight: 700;
}
p{
    font-weight: 400;
}
span{
    font-weight: 900;
    color: black;
    font-size: 18px;
}
.hero-btns{
    display: flex;
    gap: 20px;
   
button {
        border: none;
        background-color: yellow;
        padding: 10px 15px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        transition: all 0.4s linear;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
}

}
button:hover {
    background-color: #dcc7f7;
}

button{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px 15px;
    
    border: none;
}

    }
   
}
@media (max-width:992px) {
    .hero{
        .hero-items{
            grid-template-columns: repeat(1,1fr);
        }
    }
}