.hero{
    background-color: #F2F2F2;
    display: flex;
    padding: 30px;
.hero-card{
    padding: 20px;
   display: flex;
   justify-content: space-between;
flex-direction: column;
background-color: #fff;
button{
    border: none;
    padding: 10px;
}
}
}